In [42]:
import re
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [81]:
df=pd.read_csv("Elon_musk.csv",encoding='latin1')
df

      Unnamed: 0                                               Text
0              1                             @kunalb11 Im an alien
1              2  @ID_AA_Carmack Ray tracing on Cyberpunk with H...
2              3                @joerogan @Spotify Great interview!
3              4                    @gtera27 Doge is underestimated
4              5  @teslacn Congratulations Tesla China for amazi...
...          ...                                                ...
1994        1995  @flcnhvy True, it sounds so surreal, but the n...
1995        1996  @PPathole Make sure to read ur terms &amp; con...
1996        1997                @TeslaGong @PPathole Samwise Gamgee
1997        1998  @PPathole Altho Dumb and Dumber is <U+0001F525...
1998        1999                          Progress update August 28

[1999 rows x 2 columns]

In [82]:
df.shape

(1999, 2)

In [83]:
df=df.drop(['Unnamed: 0'],axis=1)

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    1999 non-null   object
dtypes: object(1)
memory usage: 15.7+ KB

In [85]:
df.isnull().sum()

Text    0
dtype: int64

## Preprocessing

In [86]:
# Extracting Alphabates only. 
df.Text=df.Text.apply(lambda x: re.sub('[^a-zA-Z ]', "", x))

In [87]:
df

                                                   Text
0                                    kunalb Im an alien
1     IDAACarmack Ray tracing on Cyberpunk with HDR ...
2                      joerogan Spotify Great interview
3                          gtera Doge is underestimated
4     teslacn Congratulations Tesla China for amazin...
...                                                 ...
1994  flcnhvy True it sounds so surreal but the nega...
1995  PPathole Make sure to read ur terms amp condit...
1996                  TeslaGong PPathole Samwise Gamgee
1997             PPathole Altho Dumb and Dumber is UFUF
1998                            Progress update August

[1999 rows x 1 columns]

In [88]:
# Converting to lower case
df.Text=df.Text.apply(lambda x: x.lower())
df

                                                   Text
0                                    kunalb im an alien
1     idaacarmack ray tracing on cyberpunk with hdr ...
2                      joerogan spotify great interview
3                          gtera doge is underestimated
4     teslacn congratulations tesla china for amazin...
...                                                 ...
1994  flcnhvy true it sounds so surreal but the nega...
1995  ppathole make sure to read ur terms amp condit...
1996                  teslagong ppathole samwise gamgee
1997             ppathole altho dumb and dumber is ufuf
1998                            progress update august

[1999 rows x 1 columns]

In [89]:
# Splitting the words from Sentence.
df.Text=df.Text.apply(lambda x: x.split())
df

                                                   Text
0                               [kunalb, im, an, alien]
1     [idaacarmack, ray, tracing, on, cyberpunk, wit...
2                 [joerogan, spotify, great, interview]
3                     [gtera, doge, is, underestimated]
4     [teslacn, congratulations, tesla, china, for, ...
...                                                 ...
1994  [flcnhvy, true, it, sounds, so, surreal, but, ...
1995  [ppathole, make, sure, to, read, ur, terms, am...
1996             [teslagong, ppathole, samwise, gamgee]
1997     [ppathole, altho, dumb, and, dumber, is, ufuf]
1998                         [progress, update, august]

[1999 rows x 1 columns]

In [90]:
# Removing Stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

[nltk_data] Error loading stopwords: <urlopen error [SSL] unknown
[nltk_data]     error (_ssl.c:1129)>

In [91]:
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [WinError 10054]
[nltk_data]     An existing connection was forcibly closed by the
[nltk_data]     remote host>

False

In [92]:
stopwords.words("english")

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [93]:
df.Text=df.Text.apply(lambda x: [word for word in x if word not in set(stopwords.words('english'))])
df

                                                   Text
0                                   [kunalb, im, alien]
1     [idaacarmack, ray, tracing, cyberpunk, hdr, ne...
2                 [joerogan, spotify, great, interview]
3                         [gtera, doge, underestimated]
4     [teslacn, congratulations, tesla, china, amazi...
...                                                 ...
1994  [flcnhvy, true, sounds, surreal, negative, pro...
1995  [ppathole, make, sure, read, ur, terms, amp, c...
1996             [teslagong, ppathole, samwise, gamgee]
1997              [ppathole, altho, dumb, dumber, ufuf]
1998                         [progress, update, august]

[1999 rows x 1 columns]

In [94]:
# Stemming
ps=PorterStemmer()
df.Text=df.Text.apply(lambda x: [ps.stem(word) for word in x])
df

                                                   Text
0                                   [kunalb, im, alien]
1     [idaacarmack, ray, trace, cyberpunk, hdr, next...
2                 [joerogan, spotifi, great, interview]
3                             [gtera, doge, underestim]
4     [teslacn, congratul, tesla, china, amaz, execu...
...                                                 ...
1994  [flcnhvi, true, sound, surreal, neg, propagand...
1995  [ppathol, make, sure, read, ur, term, amp, con...
1996                [teslagong, ppathol, samwis, gamge]
1997               [ppathol, altho, dumb, dumber, ufuf]
1998                          [progress, updat, august]

[1999 rows x 1 columns]

In [95]:
# Rejoining
df.Text=df.Text.apply(lambda x: " ".join(x))
df

                                                   Text
0                                       kunalb im alien
1     idaacarmack ray trace cyberpunk hdr nextlevel tri
2                      joerogan spotifi great interview
3                                 gtera doge underestim
4     teslacn congratul tesla china amaz execut last...
...                                                 ...
1994  flcnhvi true sound surreal neg propaganda stil...
1995  ppathol make sure read ur term amp condit clic...
1996                     teslagong ppathol samwis gamge
1997                     ppathol altho dumb dumber ufuf
1998                              progress updat august

[1999 rows x 1 columns]

## Sentiment Analysis

In [96]:
pip install -U textblob

Collecting textblobNote: you may need to restart the kernel to use updated packages.
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
Requirement already satisfied: nltk>=3.1 in c:\users\meenal patel\anaconda3\lib\site-packages (from textblob) (3.7)

Requirement already satisfied: regex>=2021.8.3 in c:\users\meenal patel\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: tqdm in c:\users\meenal patel\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: click in c:\users\meenal patel\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: joblib in c:\users\meenal patel\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: colorama in c:\users\meenal patel\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [97]:
from textblob import TextBlob

In [98]:
df['Sentiment']=df.Text.apply(lambda x: TextBlob(x).sentiment[0])
df

                                                   Text  Sentiment
0                                       kunalb im alien  -0.250000
1     idaacarmack ray trace cyberpunk hdr nextlevel tri   0.000000
2                      joerogan spotifi great interview   0.800000
3                                 gtera doge underestim   0.000000
4     teslacn congratul tesla china amaz execut last...   0.000000
...                                                 ...        ...
1994  flcnhvi true sound surreal neg propaganda stil...   0.186667
1995  ppathol make sure read ur term amp condit clic...   0.500000
1996                     teslagong ppathol samwis gamge   0.000000
1997                     ppathol altho dumb dumber ufuf  -0.375000
1998                              progress updat august   0.000000

[1999 rows x 2 columns]